# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/

# Environment variables & secrets
.env
.env.local
*.pem
*.key
*.secret

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary Office / OS Files
~$*.docx
~$*.pptx
~$*.xlsx
.DS_Store
Thumbs.db
